/adafruit-circuitpython-waveshare_rp2040_lcd_1_28-en_US-8.0.0-rc.2.uf2
/adafruit-circuitpython-waveshare_rp2040_lcd_1_28-en_US-8.1.0.uf2
/adafruit-circuitpython-waveshare_rp2040_lcd_1_28-en_US-8.2.0-beta.0.uf2

node_modules
